<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="post-title">
        <a href="/post/{{id}}"><h3>{{title}}</h3></a>
        <p>Posted by {{user.username}} on {{created_at}}</p>
      </div>
      <div class="post-content">
        <p>{{content}}</p>
      </div>
    </article>
  </li>
  {{/each}}
</ol>