<article class="post card">
  <div class="post-title card-header flex-row justify-space-between">
    <h3>{{post.title}}</h3>
    <p>Posted by {{post.user.username}} on {{format_date post.created_at}}</p>
  </div>
  <div class="post-content card-body">
    <p>{{post.content}}</p>
  </div>
</article>

<div class="comments">
  {{#each post.comments}}
  <section class="comment card">
    <div class="meta card-header">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text card-body">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<form class="comment-form card">
  <div class="card-header">
    <h4>Comment</h4>
  </div>
  <div class="card-body">
    <label for="comment-text">Comment</label>
    <textarea name="comment-text" id="comment-text" class="form-textarea"></textarea>

    <button type="submit" class="btn">Submit</button>
  </div>
</form>

<script src="/js/comment.js"></script>
{{/if}}