<article class="post">
  <div class="post-title">
    <h3>{{post.title}}</h3>
    <p>Posted by {{post.user.username}} on {{post.created_at}}</p>
  </div>
  <div class="post-content">
    <p>{{post.content}}</p>
  </div>
</article>

<div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <h4>Comment</h4>
  </div>
  <div>
    <textarea name="comment-text"></textarea>
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>

<script src="/js/comment.js"></script>
{{/if}}